.form {
  font-size: 1.5vw;
  font-weight: 400;
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  padding: 50px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.register {
  font-weight: 500;
  font-size: 2vw;
}
.form div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* padding: 10px; */
  /* margin-bottom: 20px; */
}

.form label {
  color: #e5e5e5;
  flex: 1;
  text-align: right;
  margin-right: 10px;
}

.form input {
  color: white;
  font-size: 1.15vw;
  flex: 1;
  background-color: transparent;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.37); /* Light border for definition */
  outline: none;
  color: white;
  margin-top: 20px;
  margin-bottom: 10px;
}

.form input::placeholder {
  color: white;
}

.form button {
  background-color: rgba(255, 255, 255, 0.075);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin-top: 14px;
  color: white;
  font-size: 1.2vw;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}

.form button:hover {
  background-color: white;
  color: #3673fd;
  border-color: white;
}
.error {
  padding: 15px;
}

.link {
  font-size: 1.2vw;
  font-weight: 200;
}

.link b {
  font-weight: 500;
}

@media (max-width: 1024px) {
  .form {
    font-size: 1.9vw;
  }
  .register {
    font-size: 3.2vw;
  }
  .form input {
    font-size: 1.5vw;
  }
  .form button {
    font-size: 1.6vw;
  }
  .link {
    font-size: 1.6vw;
  }
  .link b {
    font-size: 1.7vw;
  }
}

@media (max-width: 768px) {
  .form label {
    display: none;
  }
  .form {
    padding: 35px;
  }

  .form input {
    font-size: 2.5vw;
  }
  .form button {
    font-size: 2.2vw;
  }
  .link {
    font-size: 2.3vw;
  }
  .link b {
    font-size: 2.4vw;
  }
}

@media (max-width: 640px) {
  .form {
    padding: 30px;
  }
  .register {
    font-size: 4vw;
  }
  .form input {
    font-size: 3vw;
  }
  .form button {
    font-size: 3vw;
  }
  .link {
    font-size: 2.8vw;
  }
  .link b {
    font-size: 2.9vw;
  }
}
