.head {
  text-align: center;
}

.msg {
  font-size: 1.7vw;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.imgcontainer {
  display: flex;
  justify-content: center;
  flex: 1;
  object-fit: contain;
  width: 100%;
  height: 10%;
}

.img {
  border-radius: 10px;
  object-fit: cover;
  width: 35vw;
  height: 25vw;
  box-shadow: 2px 2px 20px rgb(36, 36, 36);
}

.textcontainer {
  flex: 1;
  padding: 20px;
  align-self: center;
  font-size: 2.1vw;
}

.textcontainer span {
  display: block;
  opacity: 0;
  animation: reveal 0.5s forwards var(--d);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.msgcontainer {
  font-size: 2vw;
  display: flex;
  flex-direction: column;
  text-align: center;
  flex-wrap: wrap;
}

.msgcontainer span {
  display: block;
  opacity: 0;
  animation: reveal 0.5s forwards var(--d);
}

@keyframes reveal {
  from {
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.welcome {
  display: inline-block;
  overflow: hidden;
  font-size: 4vw;
  white-space: nowrap;
}

.showup {
  animation: showup 7s forwards;
}

.later {
  width: 0px;
  animation: later 7s forwards;
}

.later span {
  margin-left: -355px;
  animation: slidein 7s forwards;
}

@keyframes showup {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slidein {
  0% {
    margin-left: -800px;
  }
  20% {
    margin-left: -800px;
  }
  35% {
    margin-left: 0px;
  }
  100% {
    margin-left: 0px;
  }
}

@keyframes later {
  0% {
    opacity: 0;
    width: 0px;
  }
  20% {
    opacity: 1;
    width: 0px;
  }
  30% {
    width: 50vw;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    width: 47vw;
  }
}

@media (max-width: 1024px) {
  .msg {
    font-size: 2vw;
  }

  .img {
    border-radius: 10px;
    object-fit: cover;
    width: 42vw;
    height: 32vw;
  }
}

@media (max-width: 768px) {
  .welcome {
    font-size: 4.4vw;
  }
  .msg {
    font-size: 2.4vw;
  }
  .imgcontainer {
    display: none;
  }
  .textcontainer {
    display: flex;
    justify-content: center;
    font-size: 3.3vw;
  }
  .msgcontainer {
    font-size: 2.7vw;
  }

  @keyframes later {
    0% {
      opacity: 0;
      width: 0px;
    }
    20% {
      opacity: 1;
      width: 0px;
    }
    30% {
      width: 55vw;
    }
    80% {
      opacity: 1;
    }
    100% {
      opacity: 1;
      width: 55vw;
    }
  }
}

@media (max-width: 640px) {
  .welcome {
    font-size: 2vh;
  }
  .msg {
    font-size: 1.7vh;
  }
  .textcontainer {
    font-size: 1.8vh;
  }
  .msgcontainer {
    font-size: 2.2vh;
  }
}
