.container {
  display: flex;
  flex-direction: column;
  height: 60vh;
  align-items: center;
  justify-content: center;
}
.title {
  padding: 20px;
  font-size: 5vh;
  text-align: center;
}
.message {
  padding: 20px;
  text-align: center;
  margin-top: 20px;
  font-size:3vh;
}
.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

.image {
  border-radius: 15px;
}

.textcontainer {
  font-size: 4vh;
}

@media (max-width: 320px) {
  .title {
    padding: 10px;
  }
  .image {
    height: 100%;
    width: 100%;
  }
}
